# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environments
.venv/
env/
venv/

# PyInstaller
build/
dist/
*.spec

# Logs and temp files
*.log
*.tmp
*.bak

# System files
.DS_Store
Thumbs.db
desktop.ini

# VSCode or other IDEs
.vscode/
.idea/
